In [1]:
import numpy as np

In [2]:
import pandas as pd

### Create simple Python objects

In [7]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
np_arr = np.array(my_data)
dict1 = {'a': 10, 'b': 20, 'c': 30}

### Pandas series are similar to Numpy Array's except the pandas series should contain some indexes

In [8]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

**0, 1, 2 are the indexes of the Series.**

`dtype` is the type of the Series. In this case it is `int64`.

### Custom indexes

In [10]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

**You can also pass the Numpy Arrays**

In [12]:
pd.Series(np_arr, labels)

a    10
b    20
c    30
dtype: int64

**Creating using dictionaries**

In [13]:
pd.Series(dict1)

a    10
b    20
c    30
dtype: int64

### Selecting elements from series

In [14]:
pd_ser1 = pd.Series({'USA': 1, 'Germany': 2, 'India': 3, 'Srilanka': 4})

In [15]:
pd_ser2 = pd.Series({'USA': 1, 'Germany': 2, 'India': 3, 'Pakistan': 5})

In [16]:
pd_ser1['USA']

1

### Arithematic operators in pandas series

In [17]:
pd_ser1 + pd_ser2

Germany     4.0
India       6.0
Pakistan    NaN
Srilanka    NaN
USA         2.0
dtype: float64